body{
    background-color: #cbcab2;
    overflow-y: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}
section{
    flex: 1;
    display: flex;
}
.content{
    width: 60%;
    margin: auto;
    padding-bottom: 10px;
}
.eighty{
    width: 80%;
    margin: auto;
}
.column{
    width: 49%;
}

/* Fonts */
h1{
    font-size: 30px;
    font-weight: bold;
    font-family: Raleway;
}
h2{
    font-size: 26px;
    font-weight: bold;
    font-family: Roboto;
}
h3{
    font-size: 22px;
    font-weight: bold;
    font-family: Roboto;
}
h4{
    font-size: 18px;
    font-family: Roboto;
}
h5{
    font-size: 16px;
    font-family: Roboto;
}
h6{
    font-size: 12px;
    font-family: Roboto;
}
p{
    font-size: 16px;
    font-family: Roboto;
    line-height: normal;
}

.booking{
    font-size: 16px;
    font-family: Roboto;
    list-style-type: disc;
    margin-left: 20px;
}
/* Font style */
.bold{
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #cd9508;
}
.menu:hover{
    border-bottom: 10px solid #cd9508;
    padding-bottom: 18px;
}
.current{
    border-bottom: 10px solid #cd9508;
    padding-bottom: 18px;
    color: #cd9508;
}

/* Skrift farve */
.font-blue{
    color: #010736;
}
.font-gold{
    color: #cd9508;
}
.font-white{
    color: #fff;
}
.prsmed {
  color: black;
}
.lineheigt {
  line-height:normal;
}
/* Baggrunde */
.bg-blue{
    background-color: #010736;
}
.bg-gold{
    background-color: #cd9508;
}
.bg-white{
    background-color: #fff;
}
.shadow{
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

/* Flex */
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.space{
    justify-content: space-between;
}
.left{
    justify-content: flex-start;
}
.center{
    justify-content: center;
}
.right{
    justify-content: flex-end;
}
.middle{
    align-items: center;
}
.flex-2 {
    flex: 2;
}
/* Margin */
.margin-l-10{
    margin-left: 10px;
}
.margin-l-15{
    margin-left: 15px;
}
.margin-lf-20{
    margin: 0px 20px;
}
.margin-t-10{
    margin-top: 10px;
}
.margin-t-15{
    margin-top: 15px;
}
.margin-t-20{
    margin-top: 20px;
}

/* Padding */
.padbot {
  padding-bottom: 50px;
}
.padoverskrift {
    padding: 50px 0 50px 0;
}
.padtekst {
    padding: 3% 0 1% 0;
}
.padpres {
  padding-bottom: 2%;
}
.padprog {
padding: 3%;

}

/* Header */
header{
    height: 101px;
    z-index: 25;
}
.logo{
    height: 90px;
    float:none;
    margin-top: -15px;
}

/* Footer */
footer{
    height: 100px;
    width: 100%;
    z-index: 25;
}
.some{
    width: 100px;
}
.some-logo{
    width: 35px;
    height: 100%;
}

/* Praktisk info */
.kort{
    width: 100%;
}

/* Images */
.imgheight {
    height: 100%;
}
.imgpadleft {
    padding-left: 10px;
  }

/* Kampagne */
.kambag {
  display: flex;
  background-image: url(../img/johan.jpg);
  background-size: 100%;
  width: 100%;
  height: 1000px;
}

.logowidth {
  width:113px;
}
.talebobbel {
  position: absolute;
  width: 700px;
  height: 600px;
  left: 0;
  background-image: url(../img/talebobbel.png);
}
.talebobbel2 {
  position: absolute;
  right:0;
  width: 800px;
  height: 600px;
  background-image: url(../img/talebobbel2.png);
}
.km1 {
  position: absolute;
  top: 50%;
  left: 30%;
}
.km2 {
  position: absolute;
  top: 50%;
  right: 25%;
}
/*Program*/

.text-center {
text-align: center;
}
.width-100 {
width: 100%;
}
.width-25 {
width: 25%;
}
.event-box{
flex-direction: column;
justify-content: flex-start;
box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.75);
}

/*Booking*/
.fnavn {
  width: 100%;
  height: 25px;
  border-radius: 4px;
  font-size: 16px;
  font-family: Roboto;
}

.enavn, .email, .gæster, .ankomst, .afrejse {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: Roboto;
}

.kommentarer{
  width: 100%;
  margin-top: 10px;
  height: 150px;
  border-radius: 4px;
  resize: none;
  font-size: 16px;
  font-family: Roboto;
}

.kommentarer::-webkit-input-placeholder{

}

/*Kontakt*/
.send {
  background-color: #010736;
  color: white;
  height: 30px;
  width: 60px;
  border: none;
  float: right;
  font-size: 16px;
  font-family: Roboto;
}
